@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body{
  margin: 0;
  border: 0;
  background-color: #ebebeb;
}
hr {
  margin: 5vh 0px;
  border: solid #000 1px;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 730;
  color: #232C2F;
}
.titulo1{
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  font-size: x-large;
  color: #232C2F;
}
.corPrimaria{
  background-color: #aaa3bf;
}
.fonteBtn{
  font-family: "Montserrat", sans-serif;
  font-weight: 650;
  font-size: medium;
  color: #232C2F;
}
.sombra{
  box-shadow: #13272e47 4px 4px 10px;
}
.hero{
  display: grid;
  justify-items: center;
}
p{
  text-align: center;
}
.grupoBtn{
  display: grid;
  justify-items: center;
}
.grupoBtn *{
  margin: 1vh;
  width: 65vw;
  height: 40px;
  border: none;
}

.fundoTop{
  background: linear-gradient(to bottom, #ebebeb 50%, #aaa3bf 50%);
  margin-bottom: -1px;
  display: flex;
}
.fundoTopImg{
  width: 100vw;
}
.fundoMeio{
  display: grid;
  justify-items: center;
  width: 100%;
  background-color: #aaa3bf;
}
.Seletor, .Comparação, .Livro{
  display: grid;
  justify-items: center;
  margin-block: 15px;
}
label{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: x-large;
  color: #232C2F;
  margin: 18px;
}
.card1, .card2, .card3{
  width: 65vw;
  height: 180px;
  align-content: space-around;
  background-color: white;
  color: #232C2F;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: medium;
}
.fundoBottom{
  margin-top: -1px;
  background: linear-gradient(to top, #232C2F 50%, #aaa3bf 50%);
  display: flex;
}
.fundoBottomImg{
  transform: rotate(180deg);
  width: 100vw;
}
.absolute{
  position: absolute;
}

.descobrir, .irAoTopo{
  border: white solid 2px;
}
.descobrir{
  left: 0;
  border-left: none;
}
.irAoTopo{
  right: 0;
  border-right: none;
}
footer{
  background-color: #232C2F;
  padding: 5px;
  margin-top: -1px;
}
footer *{
  color: white;
}
.redes{
  display: grid;
  justify-items: center;
}
.titulo2{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: xx-large;
}
.grupoIcones{
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
}
.iconesRedes{
  background-color: #ebebeb;
}
.obgd{
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
.titulo3{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.email{
  display: grid;
  justify-items: center;
}
form{
  width: 80vw;
  height: 15vh;
  display: grid;
  background-color: #ebebeb;
  padding: 10px;
}
.input{
  margin: 5px;
  padding: 4px;
  border: solid 3px #232C2F;
  color: #232C2F;
}
.enviar{
  width: fit-content;
  padding: 10px 15px;
}